In [23]:
import os
import sys
import pandas as pd
import numpy as np
import locale
locale.setlocale(locale.LC_ALL, '')

def generate_report(output_dev):
    output_dev.write("Election Results\n------------------------- \n")
    output_dev.write("Total Votes: " + str(votes_cast) + "\n")
    output_dev.write("------------------------- \n")
    for index, row in results_df.iterrows():
        output_dev.write(index + ": " + str(row['Percentage Votes']) + " (" + str(row['Total Votes']) + ")\n")
    output_dev.write("Winner: " + winner + "\n")
    output_dev.write("------------------------- \n")

# get the data and load it into a data frame
my_dir = os.getcwd()
data_file = os.path.join(my_dir, "Resources/election_data.csv")

election_df = pd.read_csv(data_file, encoding="utf-8")


# generate summary data
votes_cast = len(election_df)
results_df = pd.DataFrame()
results_df['Total Votes'] = election_df['Candidate'].value_counts()
results_df['Percentage Votes'] = results_df['Total Votes'] / votes_cast
winner = results_df['Total Votes'].idxmax()



# write report to the terminal
generate_report(sys.stdout)

# write report to an output file
#output_file = os.path.join(my_dir, "analysis/summary.txt")
#with open(output_file, "w") as f:
#    generate_report(f)
#    f.close()

Election Results
-------------------------
Total Votes: 369711
-------------------------
Diana DeGette: 0.7381224794501652 (272892.0)
Charles Casper Stockham: 0.2304854332167558 (85213.0)
Raymon Anthony Doane: 0.03139208733307908 (11606.0)
Winner: Diana DeGette)
-------------------------

In [2]:
election_df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [13]:
results_df

                         Total Votes  Percentage Votes
Raymon Anthony Doane           11606          0.031392
Charles Casper Stockham        85213          0.230485
Diana DeGette                 272892          0.738122

In [15]:
winner

272892

In [17]:
results_df['Total Votes'].idxmax()

'Diana DeGette'